.google-doc {
  display: flex;
  flex-direction: column;
  height: 150vh;
  background-color: #f1f3f4;
  position: relative;
  top: 60px;
}

.document-content {
  flex: 1;
  margin: 20px auto;
  padding: 20px;
  line-height: 1.6;
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  width: 80%;
  height: 600px;
  outline: none;
  margin-top: 80px;
}
  
  
