.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
}

.help-menu {
    width: 500px; 
    max-width: 80%;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: absolute; 
    max-height: 60%; 
    overflow: auto;
    user-select: none;
}



.drag-handle {
    width: 100%;
    cursor: grab;
    background-color: #444;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}

.header-helpmenu {
    color: white;
    font-size: 2em;
    margin: 0; 
}

.content {
    display: flex;
    padding: 20px;
}

.vertical-buttons {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-top: 20px;
}

.side-button {
    background-color: #242424;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
}

.side-button:hover {
    background-color: white;
    color: #242424;
}

.side-button:active {
    background-color: white;
    color: #242424;
}

.text-content {
    flex: 1;
}

.text-container {
    border: 2px solid whitesmoke;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px; 
    margin-left: 30px; 
    margin-right: 30px;
    height: 250px;
    width: 250px;
    overflow-y: auto;
}

.text {
    color: white;
    font-size: 1.5em;
    user-select: none;
}

.button-container {
    margin-bottom: 20px;
}

.button-exit {
    background-color: #242424;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 30px;
    width: 200px;
    user-select: none;
}

.button-exit:hover {
    background-color: red;
    color: #242424;
}

.button-exit:active {
    background-color: white;
    color: #242424;
}
